<h1>Support</h1>
<p>Welcome to the Support Page for our {{serviceProvider}} - {{appDisplayName}} app!</p>

<h2>Features</h2>
<p>Here is a list of the features for the various types of plans we offer with the {{appDisplayName}} app:</p>
<table>
    <tr>
        <th>Plan</th>
        <th>Feature One</th>
        <th>Feature Two</th>
        <th>Feature Three</th>
    </tr>
    <tr>
        <td>Free</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Trial</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Basic</td>
        <td>X</td>
        <td>X</td>
        <td></td>
    </tr>
    <tr>
        <td>Pro</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Enterprise</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
</table>

<h2>Browser Requirements</h2>
<p>{{appDisplayName}} can be used with any of the following browsers:</p>
<ul>
    <li>Chrome</li>
    <li>Firefox</li>
    <li>Edge</li>
    <li>Opera</li>
</ul>

<h2>{{serviceProvider}} Plan Requirements</h2>
<p>In order for our app to operate, you must have a paid plan with {{serviceProvider}}. Our app will not operate with free or trial plans.</p>
